<template name='signIn'>
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is an address book project created for iCentris. </p>
  <p style="color: #333;">(Default: test@icentris.com password: 3nj0y)</p>
  <div class="signin-container">

      <form class="form-signin">
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-default btn-block" type="submit">Sign In</button>
      </form>

  </div>
</template>